<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- fonts -->
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <!-- <img alt="Brand" src="..."> -->
	        <p>APP NAME</p>
	      </a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
        	<li><a href="#">Sign Out</a></li>
	  </div>
	</nav>


<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>			
</body>
</html>